In [14]:
import pandas as pd
from openpyxl import load_workbook


filename = "data_unprotected.xlsx"
df = pd.read_excel(filename, engine='openpyxl')

# Print the first few rows before imputation
df

,UniqueID,submission_year,target,TrainVal,Long_1,Long_2,Long_3,Long_4,Long_5,Long_6,...,Short_1,Short_2,Short_3,Short_4,Short_5,Short_6,Short_7,Short_8,Short_9,Short_10
0,984TAH,2015,0,Train_60,1800.0,6.0,0.0,221.0,0.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,410VKN,2015,0,Val_40,5700.0,8.0,0.0,221.0,12.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,394ETK,2015,1,Train_60,700.0,1.0,0.0,147.0,17.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,036KQK,2015,0,Train_60,1700.0,2.0,0.0,461.0,187.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,996RNP,2015,0,Train_60,600.0,3.0,0.0,96.0,30.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4594,757VJZ,2017,0,Train_60,3000.0,14.0,0.0,414.0,37.0,10.5,...,0.138413,0.496467,71.118364,8192.698333,83.009946,184541.42500,131154.80,48.671647,0.061366,0.666667
4595,538JZF,2017,1,Train_60,1600.0,0.0,NaN,338.0,NaN,1.0,...,0.108609,0.630414,50.562971,41071.880000,73.326164,88518.18143,47621.34,58.136132,0.416919,0.000000
4596,648WHI,2017,1,Val_40,100.0,3.0,6741.0,281.0,198.0,3.0,...,1.341142,0.985568,41.803426,1587.646667,34.919227,35035.94000,32704.26,11.122347,0.064327,0.666667
4597,899YZB,2017,1,Val_40,300.0,0.0,9411.0,173.0,44.0,1.0,...,1.419549,1.317842,48.831847,15061.066670,42.615211,186000.48000,169718.98,39.008325,0.053133,0.666667
4598,287IWI,2017,1,Train_60,300.0,2.0,1365.0,185.0,74.0,3.0,...,1.428886,1.104783,48.033749,27213.933330,37.997803,91870.16000,82498.31,35.849088,0.409116,0.000000

In [17]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")
numeric_cols = df.select_dtypes(include=['number']).columns
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

# Impute the DataFrame
df

,UniqueID,submission_year,target,TrainVal,Long_1,Long_2,Long_3,Long_4,Long_5,Long_6,...,Short_1,Short_2,Short_3,Short_4,Short_5,Short_6,Short_7,Short_8,Short_9,Short_10
0,984TAH,2015.0,0.0,Train_60,1800.0,6.0,0.000000,221.0,0.000000,15.0,...,0.723294,1.080443,93.392691,12591.355055,94.304166,66819.507626,41732.955185,56.009659,1.406396,1.589839
1,410VKN,2015.0,0.0,Val_40,5700.0,8.0,0.000000,221.0,12.000000,15.0,...,0.723294,1.080443,93.392691,12591.355055,94.304166,66819.507626,41732.955185,56.009659,1.406396,1.589839
2,394ETK,2015.0,1.0,Train_60,700.0,1.0,0.000000,147.0,17.000000,10.0,...,0.723294,1.080443,93.392691,12591.355055,94.304166,66819.507626,41732.955185,56.009659,1.406396,1.589839
3,036KQK,2015.0,0.0,Train_60,1700.0,2.0,0.000000,461.0,187.000000,6.0,...,0.723294,1.080443,93.392691,12591.355055,94.304166,66819.507626,41732.955185,56.009659,1.406396,1.589839
4,996RNP,2015.0,0.0,Train_60,600.0,3.0,0.000000,96.0,30.000000,11.0,...,0.723294,1.080443,93.392691,12591.355055,94.304166,66819.507626,41732.955185,56.009659,1.406396,1.589839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4594,757VJZ,2017.0,0.0,Train_60,3000.0,14.0,0.000000,414.0,37.000000,10.5,...,0.138413,0.496467,71.118364,8192.698333,83.009946,184541.425000,131154.800000,48.671647,0.061366,0.666667
4595,538JZF,2017.0,1.0,Train_60,1600.0,0.0,1812.570183,338.0,66.694396,1.0,...,0.108609,0.630414,50.562971,41071.880000,73.326164,88518.181430,47621.340000,58.136132,0.416919,0.000000
4596,648WHI,2017.0,1.0,Val_40,100.0,3.0,6741.000000,281.0,198.000000,3.0,...,1.341142,0.985568,41.803426,1587.646667,34.919227,35035.940000,32704.260000,11.122347,0.064327,0.666667
4597,899YZB,2017.0,1.0,Val_40,300.0,0.0,9411.000000,173.0,44.000000,1.0,...,1.419549,1.317842,48.831847,15061.066670,42.615211,186000.480000,169718.980000,39.008325,0.053133,0.666667
4598,287IWI,2017.0,1.0,Train_60,300.0,2.0,1365.000000,185.0,74.000000,3.0,...,1.428886,1.104783,48.033749,27213.933330,37.997803,91870.160000,82498.310000,35.849088,0.409116,0.000000